<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active btn btn-light text-primary" aria-current="page" href="/admin/Restaurants">Restaurants</a>
  </li>
  <li class="nav-item btn btn-light">
    |
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-light text-primary" href="/admin/users">Users</a>
  </li>
</ul>